.Meaning h3 {
    font-size: 20px;
    font-weight: bold;
}

.Meaning h3:first-letter{
    text-transform: uppercase;
}

.example:first-letter {
    text-transform: uppercase;
}

.Meaning .definition {
    color:black;
    margin-top:10px;

}

.Meaning .example {
    font-size: 16px;
    opacity: 0.7;
    font-style: italic;
}